@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');


*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
section{
    padding: 40px 0 20px 0;
}
.container{
    width: 1140px;
    margin: 0px auto;
}
.row{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.col{
    width: 48%;
    padding: 2%;
}

                                                  /*  Stay Focused on Mission 2022  */


.img_col{
    text-align: center;
}
#stayFocused img{
    width: 80%;
}
.h_stay{
    border-left: 5px solid #FF5959;
    padding: 0 15px;
    font-size: 40px;
    color: #333333;
    margin: 20px 0;
}
.stay > .mission {
    color: #FFAD5A !important;
}
#stayFocused p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #333333;
}
.btn{
    margin: 30px 0;
}
.btn > a{
    font-family: 'poppins', sans-serif;
    background: #FF5959;
    padding: 10px 40px;
    border-radius: 4px;
    text-transform: capitalize;
    font-size: 18px;
    color: #ffffff;
}
.scroltext{
    font-size: 16px !important;
}

                                                /* <!-- My Mission in 2022 --> */

.head-mission{
    font-family: 'poppins', sans-serif;
    font-size: 36px;
    color: #333333;
    margin: 20px 0;
    text-align: center;
    font-weight: 700;
}
.head-mission > h2 > span{
    color: #FFAD5A;
    font-size: 46px;
}
.col-mission{
    width: 33.33%;
    margin: 30px;
}
.mission-box{
    width: 92%;
    padding:5% 8% 15% 8%;
    border-radius: 16px;
    background-color: #EDF5F6;
}
.col-mission img{
    width: 70%;
}
.col-mission h3, .col-mission p{
    font-family: 'poppins', sans-serif;
}
.col-mission  h3{
    font-size: 22px;
    margin-bottom: 20px;
}
.mission-box3{
    width: 92%;
    padding:5% 8% 15% 8%;
    border-radius: 16px;
    background-color: #FFEEEE;
}
.mission-box2{
    width: 92%;
    padding:5% 8% 15% 8%;
    border-radius: 16px;
    background-color: #FFF4D6;
}

                /* Develop Without Limits */

#develop{
    background-image: url(../images/shapes/develop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#develop img{
    width: 80%;
}
#develop p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #333333;
}

.develop{
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    line-height: 1.2;
    font-size: 36px;
    color: #333333;
    margin: 20px 0;
}

                /* Know our Global Community */

#community{
    background-image: url(../images/shapes/projets.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#community img{
    width: 80%;
}
#community p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #333333;
}

.community{
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    line-height: 1.2;
    font-size: 36px;
    color: #333333;
    margin: 20px 0;
}